.campeon{
    width: 100%;
    padding: 30px 15px;
}
.detalles-generales{
    display: flex;
    width: 100%;
}
.contenedor-imagen-campeon{
    width: 30%;
    margin-right: 30px ;
}
.imagen-campeon{
    width: 100%;
}
.contenedor-texto-campeon{
    width: 60%;
}
.nombre-campeon{
    margin-bottom: 30px;
}
.informacion-campeon{
    margin-bottom: 5px;
}
.descripcion-campeon{
    margin-top: 10px;
}
.habilidad{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 15px;
    background: #2f3254;
}
.contenedor-datos-habilidad{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    position: relative;
}
.contenedor-imagen-habilidad{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    
}
.contenedor-imagen-habilidad img{
    width: 100px;
    height: 100px;
 
}
.contenedor-texto{
    width: calc(100% - 115px);
}
.nombre-habilidad{
    width: 100%;
    margin-left: -55px;
    text-align: center;
    margin-bottom: 15px;
}
.descripcion-habilidad{
    width: 100%;
    padding: 0 15px;
    text-align: justify;
}

.contenedor-escalado{
    width: 100%;
}
.contenedor-escalado h3{
    text-align: center;
    margin-bottom: 10px;
}
.nivel-grupo{
    width: 100%;
    display: flex;
    padding: 15px;

}
.nivel-grupo *{
    color: black;
}
.nivel-grupo:nth-child(odd){
    background: #F5F5F5;
    
}
.nivel-grupo:nth-child(even){
    background: #E6E6E6;
    
}
.nivel{
    width: 100%;
    max-width: 40px;
    margin-right: 15px;
}
